# Odoo Data Volumes - VERY IMPORTANT
odoo-db-data/
odoo-web-data/

# Local Python Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Database Backups
*.dump
*.sql
*.zip

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
```


